venv/
**/gcp_credentials.json
*pycache*

tests/__pycache__/
tests/mlruns/
tests/test_output/



# Ignore Airflow logs and generated password file
config/simple_auth_manager_passwords.json.generated

# Ignore package-info
goodreads_recommendations.egg-info

# Ignore pytest cache
.pytest_cache/

data/sample_features/
data/*.parquet
data/*.csv

**/logs/
.DS_Store

.env
airflow-webserver.pid
airflow.cfg 
webserver_config.py
gcp_credentials.json

gha-creds-*.json

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
terraform/terraform.tfvars
terraform.lock.hcl
terraform/
# Deployment logs
docs/deployment_logs/*.log
docs/deployment_logs/*.json