name: PR Test Suite
run-name: Run Tests on Pull Request

on:
  pull_request:
    branches: [ "master" ]  

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install main dependencies
      run: pip install -r model_requirements.txt

    - name: Install test dependencies
      run: pip install pytest pytest-cov

    - name: Run tests in tests/ folder
      run: pytest tests -q

    - name: Upload test results 
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: ./tests
