name: Build and Push Docker Image to GHCR

on:
  push:
    branches:
      - master
    paths:
      - 'src/**' 
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write   
      id-token: write

    env:
      IMAGE_NAME: goodreads-model
      REGISTRY: ghcr.io
      OWNER: ${{ github.repository_owner }}

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4


    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}


    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3


    - name: Build and push image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile.model
        push: true
        tags: |
          ghcr.io/${{ github.repository_owner }}/goodreads-model:latest
          ghcr.io/${{ github.repository_owner }}/goodreads-model:${{ github.sha }}


    - name: Make GHCR package public
      run: |
        curl \
          -X PATCH \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "Accept: application/vnd.github+json" \
          https://api.github.com/user/packages/container/${{ env.IMAGE_NAME }}/permissions \
          -d '{"visibility":"public"}'
