name: 2. Model Training
run-name: Model Retraining

on:
  workflow_run:
    workflows: ["1. Load Data"]
    types: [completed]

jobs:
  train:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      actions: read
    
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install dependencies
      run: pip install -r model_requirements.txt
    
    - name: Wait for artifact propagation
      run: sleep 30

    - name: Download data artifact
      uses: actions/download-artifact@v4
      with:
        name: goodreads-train-data
        run-id: ${{ github.event.workflow_run.id }}

    - name: Train the model
      run: python -m src.df_model_training
    
    - name: Notify on success
      if: success()
      run: echo "Model trained successfully"

    - name: Notify on failure
      if: failure()
      run: echo "Model training failed"