name: Send Email Notification

on:
  workflow_call:
    inputs:
      status:
        required: true
        type: string
      workflow_name:
        required: true
        type: string

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
    - name: Send email via Gmail SMTP
      run: |
        python - << 'EOF'
        import smtplib
        from email.mime.text import MIMEText
        import os
        sender = os.environ["SMTP_EMAIL"]
        password = os.environ["SMTP_PASSWORD"]
        receiver = os.environ["SMTP_EMAIL"]

        workflow_name = os.environ["WORKFLOW_NAME"]
        status = os.environ["STATUS"]
        repo = os.environ["REPO"]
        commit_sha = os.environ["SHA"]
        branch = os.environ["BRANCH"]

        subject = f"GitHub Workflow: {workflow_name} - {status}"
        body = f"""
        Workflow Name: {workflow_name}
        Status: {status}
        Repository: {repo}
        Commit: {commit_sha}
        Branch: {branch}
        """

        msg = MIMEText(body)
        msg["Subject"] = subject
        msg["From"] = sender
        msg["To"] = receiver

        SMTP_SERVER = "smtp.gmail.com"
        SMTP_PORT = 587

        print("Connecting to SMTP...")
        with smtplib.SMTP(SMTP_SERVER, SMTP_PORT) as server:
            server.starttls()
            print("Logging in...")
            server.login(sender, password)
            print("Sending email...")
            server.sendmail(sender, receiver.split(","), msg.as_string())

        print("Email sent!")
        EOF
      env:
      SMTP_EMAIL: ${{ secrets.SMTP_EMAIL }}
      SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
      WORKFLOW_NAME: ${{ inputs.workflow_name }}
      STATUS: ${{ inputs.status }}
      REPO: ${{ github.repository }}
      SHA: ${{ github.sha }}
      BRANCH: ${{ github.ref_name }}
